.build/
.swiftpm/
DerivedData/
*.xcuserstate
xcuserdata/
LarkAISolutionsConsultant.xcodeproj/
.DS_Store
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
